<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>메뉴 리스트</title>
</head>
<body>
<h1>메뉴 리스트</h1>
<table border="1">
    <tr>
        <th>코드</th>
        <th>이름</th>
        <th>가격</th>
        <th>카테고리 코드</th>
        <th>판매 상태</th>
        <th>수정</th>
    </tr>
    <tr th:each="menu : ${menuList}">
        <td th:text="${menu.code}"></td>
        <td th:text="${menu.name}"></td>
        <td th:text="${menu.price}"></td>
        <td th:text="${menu.categoryCode}"></td>
        <td th:text="${menu.orderableStatus}"></td>
        <td>
            <a th:href="@{/menu/showUpdate(menuCode=${menu.code})}">수정</a>
        </td>
    </tr>
</table>
</body>
</html>
