<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
        <h3>🍧신규 메뉴 등록 폼 🍧</h3>
        <form action="/menu/regist" method="post">
            <label>메뉴 이름 : <input type="text" name="name"></label><br>
            <label>메뉴 가격 : <input type="number" name="price" step="1000" min="0"></label><br>
            <label>카테고리 코드 : </label>
            <select name="categoryCode" id="categoryCode"></select><br>
            <label>판매상태 : </label>
            <select name="orderableStatus">
                <option value="Y">Y</option>
                <option value="N">N</option>
            </select><br>
            <input type="submit" value="전송">
        </form>
        <script>
            /* comment.
            *   비동기 처리 화면이 로딩될 때 미리 데이터를 불러와
            *   화면에 뿌려줌
            * */
            /* comment. fetch 란 강제로 잡아채다 라는 뜻을 가짐*/
            fetch("/menu/category")
        </script>
</body>
</html>