<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.springstudy.menu.model.dao.MenuMapper">

    <resultMap id="menuResultMap" type="com.ohgiraffers.springstudy.menu.model.dto.MenuDTO">
        <id property="code" column="menu_code"/>
        <result property="name" column="menu_name"/>
        <result property="price" column="menu_price"/>
        <result property="categoryCode" column="category_code"/>
        <result property="orderableStatus" column="orderable_status"/>
    </resultMap>

    <select id="findAllMenu" resultMap="menuResultMap">
        SELECT
            MENU_CODE,
            MENU_NAME,
            MENU_PRICE,
            CATEGORY_CODE,
            ORDERABLE_STATUS
        FROM
            TBL_MENU
        WHERE
            ORDERABLE_STATUS = 'Y'
        ORDER BY
            MENU_CODE
    </select>

    <insert id="registMenu" parameterType="com.ohgiraffers.springstudy.menu.model.dto.MenuDTO">
            insert into TBL_MENU
                            (MENU_CODE,MENU_NAME,MENU_PRICE,CATEGORY_CODE,ORDERABLE_STATUS)
            VALUES
                            (#{code},#{name},#{price},#{categoryCode},#{orderableStatus})

    </insert>

        <!-- 1. 업데이트 -->
    <select id="findAllMenus" resultMap="menuResultMap">
        SELECT
            MENU_CODE,
            MENU_NAME,
            MENU_PRICE,
            CATEGORY_CODE,
            ORDERABLE_STATUS
        FROM
            TBL_MENU
        WHERE
            ORDERABLE_STATUS = 'Y'
        ORDER BY
            MENU_CODE
    </select>

    <select id="findMenuByCode" parameterType="int" resultMap="menuResultMap">
        SELECT
        MENU_CODE,
        MENU_NAME,
        MENU_PRICE,
        CATEGORY_CODE,
        ORDERABLE_STATUS
        FROM
        TBL_MENU
        WHERE
        MENU_CODE = #{menuCode}
    </select>

    <!-- 3. 메뉴 수정 -->
    <update id="updateMenu" parameterType="com.ohgiraffers.springstudy.menu.model.dto.MenuDTO">
        UPDATE TBL_MENU
        SET
            MENU_NAME = #{name},
            MENU_PRICE = #{price},
            CATEGORY_CODE = #{categoryCode},
            ORDERABLE_STATUS = #{orderableStatus}
        WHERE
            MENU_CODE = #{code}

    </update>

    <!-- 1. 삭제 1 -->
    <select id="findAllMenuDelete" resultMap="menuResultMap">
        SELECT
        MENU_CODE,
        MENU_NAME,
        MENU_PRICE,
        CATEGORY_CODE,
        ORDERABLE_STATUS
        FROM
        TBL_MENU
        WHERE
        ORDERABLE_STATUS = 'Y'
        ORDER BY
        MENU_CODE
    </select>



    <delete id="deleteMenu" parameterType="int">
            delete from
                tbl_menu
            where
                MENU_CODE = #{code}
    </delete>


</mapper>